/* General styles */
/* Set box-sizing to border-box so things behave. Also set all padding and margins to 0 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F1F1F;
    font-family: 'Source Code Pro', sans-serif;
}

/* Computer hand section styles */
#computer-side {
    height: 200px;
}

#computer-face {
    color: white;
    font-size: 200%;
}

#computer-cards {
    position: absolute;
    top: 20px;
    left: 36vw;
    /* Needs slight offset because of .stack-card relative positioning, not perfect */
    display: flex;
}

/* The position, left and top styles create the stacking cards effect */
.stack-card {
    position: relative;
    background-color: #74985D;
    left: 10px;
    top: 10px;
    height: 120px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid black;
}

/* Middle section styles */
#game-field {
    font-size: smaller;
    color: white;
    background-color: #4C607A;
    border: 4px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    border-radius: 20px;
    min-height: 100px;
}

.field-box {
    margin: 5px
}

#game-status {
    margin: 4px 10px auto 10px;
    flex-grow: 2;
}

/* Player hand section styles */
#player-side {
    margin: 0 25px;
    text-align: center;
}

/* Keeps the free floating buttons centered */
.button-container {
    width: 100%;
    height: 35px;
}

#start-button {
    font-family: 'Source Code Pro', sans-serif;
    margin: auto;
    padding: 5px;
}

#player-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.card {
    /* set transition properties so cards moove smoothly */
    transition: all 200ms ease-in-out;
    background-color: white;
    border: 4px outset #74985D;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    margin: 1%;
    height: 120px;
    width: 80px;
}

/* Card text is separated from the (Font Awesome) icon on the cards so the font can be controlled */
.card-text {
    font-family: "Gemunu Libre", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.card:hover {
    border: 4px solid #84A86D;
    background-color: lightgray;
}

#play-card-button {
    font-family: 'Source Code Pro', sans-serif;
    margin: auto;
    padding: 5px;
}

#play-card-button:hover {
    background-color: lightgray;
}

/* Media Queries */

/* Default settings are for any screen size less than 480px */

/* Changes for less small screens above 480px, below 768px*/
@media screen and (min-width:480px) {
    #game-field {
        font-size: small;
    }
    
    .card {
        font-size: medium;
        height: 150px;
        width: 100px;
    }

    .stack-card {
        height: 150px;
        width: 100px;
    }

    #computer-face {
        font-size: 300%;
    }

    #computer-side {
        height: 220px;
    }
}

/* Tablets, above 768 but below 992px */
@media screen and (min-width:768px) {
    #game-field {
        font-size: medium;
    }

    .card {
        font-size: large;
        height: 180px;
        width: 120px;
    }

    .stack-card {
        height: 180px;
        width: 120px;
    }

    #computer-face {
        font-size: 400%;
    }

    #player-hand {
        width: 500px;
    }

    #computer-side {
        height: 250px;
    }
}

/* Computer screens, above 992px */
@media screen and (min-width:992px) {
    .card {
        font-size: x-large;
        height: 210px;
        width: 140px;
    }

    #computer-face {
        font-size: 500%;
    }

    .stack-card {
        height: 210px;
        width: 140px;
    }

    #player-hand {
        width: 90%;
    }

    #computer-side {
        height: 280px;
    }
}