/* General styles */
/* Set box-sizing to border-box so things behave. Also set all padding and margins to 0 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-family: 'Source Code Pro', sans-serif;
}

/* Computer hand section styles */

/* Game Field section styles*/
#game-field {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12rem;
    width: 95%;
    margin: 20px auto;
}

.field-box {
    margin: 10px;
}

/* Player hand section styles*/
#player-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12rem;
    width: 95%;
    margin: auto;
}

.card {
    /* set transition properties so cards moove smoothly */
    transition: all 200ms ease-in-out;
    border: 2px outset black;
    border-radius: 10%;
    text-align: center;
    font-size: small;
    margin: 1%;
    min-height: 100px;
    flex-basis: 50px;
    flex-grow: 1;
}

/* Media Queries */
/* Changes for smallest screens 576px*/
@media screen and (min-width:576px) {
    .card {
        font-size: medium;
    }

    #player-hand {
        width: 90%;
    }
}

/* Tablets and large or landscape mode phones, above 576 but below 768px */
@media screen and (min-width:768px) {
    .card {
        font-size: large;
    }

    #player-hand {
        width: 80%;
    }
}

/* Computer screens or landscape tablets */
@media screen and (min-width:992px) {
    .card {
        font-size: x-large;
    }
}