/* General styles */
/* Set box-sizing to border-box so things behave. Also set all padding and margins to 0 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-family: 'Source Code Pro', sans-serif;
}

/* Computer hand section styles */
#computer-side {
    height: 200px;
}

#computer-face {
    font-size: 200%;
}

#computer-cards {
    position: absolute;
    top: 20px;
    left: 36vw; /* Needs slight offset because of .stack-card relative positioning, not perfect */
    display: flex;
}

/* The position, left and top styles create the stacking cards effect */
.stack-card {
    position: relative;
    background-color: white;
    left: 10px;
    top: 10px;
    height: 120px;
    width: 80px;
    border-radius: 5px;
    border: 2px outset black;
}

/* Game Field section styles */
#game-field {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto;
}

.field-box {
    margin: 10px;
}

/* Player hand section styles*/
#player-side {
    margin: 45px;
}

#player-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin: auto;
}

.card {
    /* set transition properties so cards moove smoothly */
    transition: all 200ms ease-in-out;
    background-color: white;
    border: 2px outset black;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    margin: 1%;
    height: 120px;
    width: 80px;
}

/* Media Queries */

/* Default settings are for any screen size less than 480px */

/* Changes for less small screens above 480px, below 768px*/
@media screen and (min-width:480px) {
    .card {
        font-size: medium;
        height: 150px;
        width: 100px;
    }

    .stack-card {
        height: 150px;
        width: 100px;
    }

    #computer-face {
        font-size: 300%;
    }

    #computer-side {
        height: 220px;
    }
}

/* Tablets, above 768 but below 992px */
@media screen and (min-width:768px) {
    .card {
        font-size: large;
        height: 180px;
        width: 120px;
    }

    .stack-card {
        height: 180px;
        width: 120px;
    }

    #computer-face {
        font-size: 400%;
    }

    #player-hand {
        width: 500px;
    }

    #computer-side {
        height: 310px;
    }
}

/* Computer screens, above 992px */
@media screen and (min-width:992px) {
    .card {
        font-size: x-large;
        height: 210px;
        width: 140px;
    }

    #computer-face {
        font-size: 500%;
    }

    .stack-card {
        height: 210px;
        width: 140px;
    }

    #player-hand {
        width: 90%;
    }

    #computer-side {
        height: 300px;
    }
}